@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image: linear-gradient( to right, #107361, #1D7373);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #0a3a40be ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#042326 ;
    text-align: center;
    text-shadow: 1px 1px 2px #0a3a40c9;

}

h2 {
    color: #0A3A40;

}

p {
    text-align: justify;
}

